
/* Imports */


/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */





/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');




body {
  background-color: var(--primary-gray);
}

main {
  margin: var(--main-margin);
  width: var(--content-width);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
}

h1 {
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  width: 100%;
}

p {
  margin: 0;
}










/* Header + Footer */


header,
footer {
  background-color: var(--primary-green);
  height: var(--header-footer-height);
  display: flex;
  align-items: center;
}

.header-content,
.footer-content {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
  margin: var(--content-margin);
}

nav > a,
.footer-content > a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 40px;
  font-family: var(--font-main), var(--font-fallback);
}

.footer-content > a {
  display: flex;
  align-items: center;
}


.header-content {
  height: 75%;
  display: flex;
  align-items: center;
}

.footer-content {
  height: 50%;
}


.logo {
  width: 167.14px;
  height: 90px;
  background-color: var(--primary-white);
  padding: 0.1em;
  border-radius: var(--standard-border-radius);
}

.searchbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  height: 50%;
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: 33px;
  text-align: center;
}

.searchbar-placeholder {
  font-family: var(--font-secondary), var(--font-fallback);
  font-size: var(--font-size-searchbar-placeholder);
  color: var(--primary-dark-gray);
  text-align: center;
}

.search-icon {
  width: 5%;
}

.search-icon,
.searchbar-placeholder {
  margin: 0 0.4em;
}

.shopping-cart-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 4%;
  height: 80%;
}

.shopping-cart {
  width: 90%;
}







/* Index (Home) page */





/* Hero-images section */

.hero-images,
.best-sellers {
  /* Move together with header/footer sections later */
  display: flex;
  justify-content: space-between;
  margin: var(--content-margin);
}

.hero-image-container {
  width: 45%;
  max-height: var(--max-height-home-hero);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-image-guy,
.hero-image-girl {
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
  grid-area: 1 / 1 / 2 / 3;
}

.cta-home {
  background-color: var(--primary-white);
  color: var(--primary-green);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-green);
  border-radius: var(--standard-border-radius);
  margin-bottom: 0.2em;
  font-family: var(--font-main), var(--font-fallback);
  font-size: var(--font-size-cta-home);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2-home-div {
  display: flex;
  align-items: center;
}

.h2-home {
  text-shadow: 2px 2px 4px var(--primary-black);
  font-size: var(--font-size-h2-home);
  color: var(--hero-text);
  align-self: center;
  width: 70%;
  margin: 1em auto 2em auto;
}

.box-home {
  display: grid;
  grid-template-columns: var(--home-gridbox-grid-margin) auto auto auto auto 7em var(--home-gridbox-grid-margin);
  grid-template-rows: var(--home-gridbox-grid-margin) auto 1em 3em var(--home-gridbox-grid-margin);
  background-color: rgba(61, 61, 61, 0.4);
  border-radius: var(--standard-border-radius);
  max-height: var(--max-height-home-hero);
}

#left-box-home {
  grid-area: 1 / 2 / 2 / 3;
}

#left-h2-home {
  grid-area: 2 / 1 / 5 / 8;
}

#left-cta-home {
  grid-area: 3 / 2 / 5 / 7;
}



#right-box-home {
  grid-area: 1 / 1 / 3 / 2;
}

#right-h2-home {
  grid-area: 2 / 1 / 5 / 8;
}

#right-cta-home {
  grid-area: 3 / 2 / 5 / 7;
}





/* Best-sellers section */


.best-sellers {
  flex-direction: column;
}

.best-sellers-heading {
  font-size: 32px;
  color: var(--primary-green);
  margin: 2em auto 2em 0;
  width: 100%;
}

.products-homepage {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.best-sellers-item {
  display: flex;
  flex-direction: column;
  width: 18%;
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
}

.best-sellers-image-box {
  height: 75%;
}

.best-sellers-image-box > img {
  border-bottom: var(--standard-border-style) var(--product-dividing-line) var(--primary-black);
}

.hgroup-best-sellers {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: 25%;
  background-color: var(--primary-white);
}

hgroup p, h4 {
  font-family: var(--font-secondary);
}

.bottom-product-info {
  display: flex;
}

.bottom-product-info > p {
  width: 50%;
}

.best-sellers-price {
  font-size: var(--font-size-best-sellers-price);
}

#availability-text {
  font-size: var(--font-size-best-sellers-availability);
  display: flex;
  justify-content: end;
  width: 90%;
}

.availability-circle {
  width: 100%;
}

#availability-text > span {
  width: 10%;
}

















