
/* Imports */


/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */





/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');




body {
  background-color: var(--primary-gray);
}

main {
  margin: var(--main-margin);
  width: var(--content-width);
}

#home-main {
  margin: 4em auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
}

h1 {
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}












/* Header + Footer + Breadcrumbs */


header,
footer {
  background-color: var(--primary-green);
  height: var(--header-footer-height);
  display: flex;
  align-items: center;
}

.header-content,
.footer-content {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
  margin: var(--content-margin);
}

nav > a,
.footer-content > a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: var(--font-size-header-footer-pageheading);
  font-family: var(--font-main), var(--font-fallback);
}

.footer-content > a {
  display: flex;
  align-items: center;
}


.header-content {
  height: 75%;
  display: flex;
  align-items: center;
}

.footer-content {
  height: 50%;
}


.logo {
  width: 167.14px;
  height: 90px;
  background-color: var(--primary-white);
  padding: 0.1em;
  border-radius: var(--standard-border-radius);
}

.searchbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  height: 50%;
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: 33px;
  text-align: center;
}

.searchbar-placeholder {
  font-family: var(--font-secondary), var(--font-fallback);
  font-size: var(--font-size-searchbar-placeholder);
  color: var(--primary-dark-gray);
  text-align: center;
}

.search-icon {
  width: 5%;
}

.search-icon,
.searchbar-placeholder {
  margin: 0 0.4em;
}

.shopping-cart-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 4%;
  height: 80%;
}

.shopping-cart {
  width: 90%;
}



.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0 0 3em 0;
}

.breadcrumbs a {
  color: var(--primary-green);
  font-family: var(--font-main), var(--font-fallback);
  font-size: var(--font-size-breadcrumbs);
  margin-right: 1em;
}

::marker {
  content: none;
}

.breadcrumbs a:hover {
  color: var(--primary-black);
}

.active {
  text-decoration: underline;
}







/* Index (Home) page */





/* Hero-images section */

.hero-images,
.best-sellers {
  /* Move together with header/footer sections later */
  display: flex;
  justify-content: space-between;
  margin: var(--content-margin);
}

.hero-image-container {
  width: 45%;
  max-height: var(--max-height-home-hero);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-image-guy,
.hero-image-girl {
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
  grid-area: 1 / 1 / 2 / 3;
}

.cta-home {
  background-color: var(--primary-white);
  color: var(--primary-green);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-green);
  border-radius: var(--standard-border-radius);
  margin-bottom: 0.2em;
  font-family: var(--font-main), var(--font-fallback);
  font-size: var(--font-size-cta-home);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2-home-div {
  display: flex;
  align-items: center;
}

.h2-home {
  text-shadow: 2px 2px 4px var(--primary-black);
  font-size: var(--font-size-h2-home);
  color: var(--hero-text);
  align-self: center;
  width: 70%;
  margin: 1em auto 2em auto;
}

.box-home {
  display: grid;
  grid-template-columns: var(--home-gridbox-grid-margin) auto auto auto auto 7em var(--home-gridbox-grid-margin);
  grid-template-rows: var(--home-gridbox-grid-margin) auto 1em 3em var(--home-gridbox-grid-margin);
  background-color: rgba(61, 61, 61, 0.4);
  border-radius: var(--standard-border-radius);
  max-height: var(--max-height-home-hero);
}

#left-box-home {
  grid-area: 1 / 2 / 2 / 3;
}

#left-h2-home {
  grid-area: 2 / 1 / 5 / 8;
}

#left-cta-home {
  grid-area: 3 / 2 / 5 / 7;
}



#right-box-home {
  grid-area: 1 / 1 / 3 / 2;
}

#right-h2-home {
  grid-area: 2 / 1 / 5 / 8;
}

#right-cta-home {
  grid-area: 3 / 2 / 5 / 7;
}





/* Products Page + Best-sellers section (homepage) */


.best-sellers,
.products {
  flex-direction: column;
}

.hgroup-product,
.products * {
  color: var(--primary-black);
}

.best-sellers-heading {
  font-size: 32px;
  margin: 2em auto 2em 0;
}

.products-heading {
  font-size: var(--font-size-header-footer-pageheading);
  margin: 0 auto 2em 0;
}

.best-sellers-heading,
.products-heading {
  color: var(--primary-green);
  width: 100%;
}

.products-homepage,
.products-products-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin-bottom: 4em;
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
  background-color: var(--primary-white);
}

.product-image-box {
  display: flex;
  justify-content: center;
  height: 75%;
  border-bottom: var(--standard-border-style) var(--product-dividing-line) var(--primary-black);
}

.product-image-box > img {
  width: 90%;
  margin: 0 auto;
}

.hgroup-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 25%;
  background-color: var(--primary-white);
}

hgroup p, h4 {
  font-family: var(--font-secondary), var(--font-fallback);
  margin: 0 0.2em 0 0.2em;
}



.bottom-product-info {
  display: flex;
  align-items: center;
}

.product-brand {
  font-size: var(--font-size-product-brand);
  font-weight: 700;
}

.product-model {
  font-size: var(--font-size-product-model);
}

.product-price {
  font-size: var(--font-size-product-price);
  font-weight: 600;
  font-style: italic;
  width: 50%;
}

.product-brand,
.product-model {
  display: flex;
  align-items: center;
  height: 35%;
}

.product-brand,
.product-model,
.product-price {
  font-family: var(--font-secondary), var(--font-fallback);
  text-transform: uppercase;
}

.availability-text {
  font-size: var(--font-size-product-availability);
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
}

.availability-circle {
  display: flex;
  align-items: center;
  width: 14%;
}

#availability-text > span {
  width: 10%;
}







/* Product-description Page */




.product-specific {
  display: flex;
  justify-content: space-between;
}

.product-specific-image-container {
  width: 50%;
}

.product-information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  padding: 2em;
}

.product-information-container * {
  font-family: var(--font-secondary), var(--font-fallback);
}

.product-specific-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-white);
  width: 100%;
  height: 50%;
  padding: 0.5em;
}

.product-specific-description-container p {
  margin: 0;
}

.product-specific-image-container,
.product-information-container,
.product-specific-description-container {
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
}


.p-d-availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-d-brand {
  font-size: var(--font-size-p-d-brand);
}

.p-d-model {
  font-size: var(--font-size-p-d-model);
}

.p-d-description {
  font-size: var(--font-size-p-d-description);
  margin-bottom: 0.2em;
}

.p-d-price {
  font-size: var(--font-size-p-d-price);
  font-style: italic;
}

.p-d-availability-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-p-d-availability-text);
  width: 20%;
  height: 100%;
}

.p-d-availability-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

#p-d-availability-text > span {
  width: 10%;
}


.p-d-brand,
.p-d-model,
.p-d-price {
  text-transform: uppercase;
}

.p-d-availability-text,
.p-d-description {
  text-transform: capitalize;
}


.product-sizes-and-button {
  display: flex;
  flex-wrap: wrap;
  height: 30%;
}

.product-sizes-and-button label {
  content: none;
}

.product-sizes-and-button select {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 0px;
}

.product-sizes-and-button button {
  width: 100%;
}








