
/* Imports */


/* Use import to split up your CSS into manageable chunks */
@import url("_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("_variables.css");
/* Feel free to add as many of these imports as you need */





/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');



:root {

  /* Colors */

  --primary-green: #0a3641;
  --primary-gray: #e9e9e9;
  --primary-dark-gray: #49454f;
  --primary-white: #fff;
  --primary-black: #000;
  --hero-text: #6DFC94;
  --availability-green: #00fe08;

  /* Fonts */

  --font-main: "Fjalla One";
  --font-secondary: "Libre Baskerville";
  --font-fallback: sans-serif;

  /* Font-sizes */


  /* Header, Footer, Breadcrumbs */
  --font-size-header-footer-pageheading: 40px;
  --font-size-searchbar-placeholder: 16px;
  --font-size-breadcrumbs: 18px;

  /* H,F,B Media Queries */

  --font-size-hfb-small: 20px;

  --font-size-hfb-medium: 26px;
  --font-size-searchbar-placeholder-medium: 12px;
  --font-size-breadcrumbs-medium: 20px;

  --font-size-hfb-1100: 30px;



  /* Home / Products */

  --font-size-h2-home: 48px;
  --font-size-cta-home: 26px;
  --font-size-product-brand: 18px;
  --font-size-product-model: 12px;
  --font-size-product-price: 14px;
  --font-size-product-availability: 12px;

  /* Media Queries */

  --font-size-h2-home-small: 26px;
  --font-size-cta-home-small: 20px;
  --font-size-product-brand-small: 14px;
  --font-size-product-model-small: 10px;
  --font-size-product-price-small: 12px;
  --font-size-product-availability-small: 10px;


  --font-size-h2-home-medium: 40px;
  --font-size-product-brand-medium: 24px;
  --font-size-product-model-medium: 20px;
  --font-size-product-price-medium: 22px;
  --font-size-product-availability-medium: 20px;

  --font-size-h2-home-1100: 34px;
  --font-size-cta-home-1100: 22px;



  /* Product-description */

  --font-size-p-d-brand: 30px;
  --font-size-p-d-model: 24px;
  --font-size-p-d-description: 24px;
  --font-size-p-d-price: 30px;
  --font-size-p-d-availability-text: 16px;


  /* Media Queries */

  --font-size-p-d-description-text-small: 12px;



  /* Cart */

  --font-size-brand-cart: 26px;
  --font-size-model-cart: 20px;
  --font-size-size-cart: 26px;
  --font-size-price-cart: 24px;


  /* Media Queries */

  --font-size-brand-cart-1100: 18px;
  --font-size-model-cart-1100: 14px;
  --font-size-size-cart-1100: 18px;
  --font-size-price-cart-1100: 16px;





  /* Checkout */

  --font-size-button-checkout: 40px;


  /* Successful Purchase */

  --font-size-brand-s-p: 22px;
  --font-size-model-s-p: 18px;
  --font-size-size-s-p: 22px;
  --font-size-price-s-p: 20px;


  /* Media Queries */

  --font-size-brand-s-p-1290: 15px;
  --font-size-model-s-p-1290: 12px;
  --font-size-size-s-p-1290: 14px;
  --font-size-price-s-p-1290: 14px;



  
  /* Margins + Padding */

  --main-margin: 1em auto 4em auto;
  --content-margin: auto;
  --content-width: 90%;
  --header-footer-height: 7.5em;
  --standard-padding: 2em;

  /* Media Queries */

  --header-footer-height-small: 5em;




  /* Borders */

  --standard-border-style: solid;
  --standard-border-width: 3px;
  --standard-border-radius: 7px;

  /* Home */

  --max-height-home-hero: 402.333px;
  --home-gridbox-grid-margin: 1em;

  /* Media Queries */

  --max-height-home-hero-medium: 225px;

  --max-height-home-hero-1100: 277px;

  --max-height-home-hero-1290: 346px;

  --max-height-home-hero-1550: 514px;

  --max-height-home-hero-1900: 600px;


  /* Products */

  --product-dividing-line: 2px;
}



body {
  background-color: var(--primary-gray);
}

main {
  margin: var(--main-margin);
  width: var(--content-width);
}

#home-main {
  margin: 4em auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Fjalla One", sans-serif;
}

h1 {
  height: 1px;
  width: 1px;
  overflow: hidden;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

 button > a {
  text-transform: uppercase;
  font-family: var(--font-main), var(--font-fallback);
  width: 100%;
 }

 button {
  background-color: var(--primary-green);
  border: var(--standard-border-style) var(--standard-border-width);
  border-radius: var(--standard-border-radius);
 }



 .error-page {
  font-size: 40px;
  color: var(--primary-green);
  font-family: var(--font-main), var(--font-fallback);
  margin: 2em 0 2em 0;
 }











/* Header + Footer + Breadcrumbs */


header,
footer {
  background-color: var(--primary-green);
  height: var(--header-footer-height);
  display: flex;
  align-items: center;
}

.header-content,
.footer-content {
  display: flex;
  justify-content: space-between;
  width: var(--content-width);
  margin: var(--content-margin);
}

nav > a,
.footer-content > a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-white);
  font-size: var(--font-size-header-footer-pageheading);
  font-family: var(--font-main), var(--font-fallback);
}

.footer-content > a {
  display: flex;
  align-items: center;
}


.header-content {
  height: 75%;
  display: flex;
  align-items: center;
}

.footer-content {
  height: 50%;
}


.logo {
  width: 167.14px;
  height: 90px;
  background-color: var(--primary-white);
  padding: 0.1em;
  border-radius: var(--standard-border-radius);
}

.searchbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  height: 50%;
  background-color: var(--primary-white);
  color: var(--primary-black);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: 33px;
  text-align: center;
}

.searchbar-placeholder {
  font-family: var(--font-secondary), var(--font-fallback);
  font-size: var(--font-size-searchbar-placeholder);
  color: var(--primary-dark-gray);
  text-align: center;
}

.search-icon {
  width: 5%;
}

.search-icon,
.searchbar-placeholder {
  margin: 0 0.4em;
}

.shopping-cart-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 4%;
  height: 80%;
}

.shopping-cart {
  width: 90%;
}



.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0 0 3em 0;
}

.breadcrumbs a {
  color: var(--primary-green);
  font-family: var(--font-main), var(--font-fallback);
  font-size: var(--font-size-breadcrumbs);
  margin-right: 1em;
}

::marker {
  content: none;
}

.breadcrumbs a:hover {
  color: var(--primary-black);
}

.active {
  text-decoration: underline;
}







/* Index (Home) page */





/* Hero-images section */

.hero-images,
.best-sellers {
  /* Move together with header/footer sections later */
  display: flex;
  justify-content: space-between;
  margin: var(--content-margin);
}

.hero-image-container {
  width: 45%;
  max-height: var(--max-height-home-hero);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-image-guy,
.hero-image-girl {
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
  grid-area: 1 / 1 / 2 / 3;
}

.cta-home {
  background-color: var(--primary-white);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-green);
  border-radius: var(--standard-border-radius);
  margin-bottom: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta-home-a-guy,
#cta-home-a-girl {
  color: var(--primary-green);
  font-family: var(--font-main), var(--font-fallback);
  font-size: var(--font-size-cta-home);
}

.h2-home-div {
  display: flex;
  align-items: center;
}

.h2-home {
  text-shadow: 2px 2px 4px var(--primary-black);
  font-size: var(--font-size-h2-home);
  color: var(--hero-text);
  align-self: center;
  width: 70%;
  margin: 1em auto 2em auto;
}

.box-home {
  display: grid;
  grid-template-columns: var(--home-gridbox-grid-margin) auto auto auto auto 7em var(--home-gridbox-grid-margin);
  grid-template-rows: var(--home-gridbox-grid-margin) auto 1em 3em var(--home-gridbox-grid-margin);
  background-color: rgba(61, 61, 61, 0.4);
  border-radius: var(--standard-border-radius);
  max-height: var(--max-height-home-hero);
}

#left-box-home {
  grid-area: 1 / 2 / 2 / 3;
}

#left-h2-home {
  grid-area: 2 / 1 / 5 / 8;
}

#left-cta-home {
  grid-area: 3 / 2 / 5 / 7;
}



#right-box-home {
  grid-area: 1 / 1 / 3 / 2;
}

#right-h2-home {
  grid-area: 2 / 1 / 5 / 8;
}

#right-cta-home {
  grid-area: 3 / 2 / 5 / 7;
}





/* Products Page + Best-sellers section (homepage) */


.best-sellers,
.products {
  flex-direction: column;
}

.hgroup-product,
.products * {
  color: var(--primary-black);
}

.best-sellers-heading {
  font-size: 32px;
  margin: 2em auto 2em 0;
}

#best-sellers-heading {
  font-family: var(--font-main), var(--font-fallback);
}

.products-heading {
  font-size: var(--font-size-header-footer-pageheading);
  margin: 0 auto 2em 0;
}

.best-sellers-heading,
.products-heading {
  color: var(--primary-green);
  width: 100%;
}

.products-homepage,
.products-products-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin-bottom: 4rem;
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
  background-color: var(--primary-white);
}

.product-image-box {
  display: flex;
  justify-content: center;
  height: 75%;
  border-bottom: var(--standard-border-style) var(--product-dividing-line) var(--primary-black);
}

.product-image-box > img {
  width: 90%;
  margin: 0 auto;
}

.hgroup-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 25%;
  background-color: var(--primary-white);
}

hgroup p, h3 {
  font-family: var(--font-secondary), var(--font-fallback);
  margin: 0 0.2em 0 0.2em;
}

hgroup h4 {
  margin-left: 0.2rem;
}



.bottom-product-info {
  display: flex;
  align-items: center;
}

.product-brand {
  font-size: var(--font-size-product-brand);
  font-weight: 700;
}

.product-model {
  font-size: var(--font-size-product-model);
}

.product-price {
  font-size: var(--font-size-product-price);
  font-weight: 600;
  font-style: italic;
  width: 50%;
}

.product-brand,
.product-model {
  display: flex;
  align-items: center;
  height: 35%;
}

.product-brand,
.product-model,
.product-price {
  font-family: var(--font-secondary), var(--font-fallback);
  text-transform: uppercase;
}

.availability-text {
  font-size: var(--font-size-product-availability);
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
}

.availability-circle {
  display: flex;
  align-items: center;
  width: 14%;
}

#availability-text > span {
  width: 10%;
}







/* Product-description Page */


.product-specific {
  display: flex;
  justify-content: space-between;
}

.product-specific-image-container {
  background-color: var(--primary-white);
  width: 50%;
}

.product-information-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  padding: 2em;
}

.product-information-container * {
  font-family: var(--font-secondary), var(--font-fallback);
}

.product-specific-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-white);
  width: 100%;
  height: 50%;
  padding: 0.5em;
}

.product-specific-description-container p {
  margin: 0;
}

.product-specific-image-container,
.product-information-container,
.product-specific-description-container {
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
}


.p-d-availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-d-brand {
  font-size: var(--font-size-p-d-brand);
}

.p-d-model {
  font-size: var(--font-size-p-d-model);
}

.p-d-description {
  font-size: var(--font-size-p-d-description);
  margin-bottom: 0.2em;
}

.p-d-price {
  font-size: var(--font-size-p-d-price);
  font-style: italic;
}

.p-d-availability-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-p-d-availability-text);
  width: 20%;
  height: 100%;
}

.p-d-availability-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

#p-d-availability-text > span {
  width: 10%;
}


.p-d-brand,
.p-d-model,
.p-d-price {
  text-transform: uppercase;
}

.p-d-availability-text,
.p-d-description {
  text-transform: capitalize;
}


.product-sizes-and-button {
  display: flex;
  flex-wrap: wrap;
  height: 30%;
}

.product-sizes-and-button label {
  content: none;
}

.product-sizes-and-button select {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 0px;
}

.product-sizes-and-button button {
  width: 100%;
}

#sizes,
#button-p-d {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--primary-green);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-white);
  border-radius: var(--standard-border-radius);
}

#sizes,
#button-p-d-text {
  font-family: var(--font-main), var(--font-fallback);
  color: var(--primary-white);
}






/* Cart Page */



.h1 {
  width: auto;
  height: auto;
  font-family: var(--font-main), var(--font-fallback);
  font-size: 40px;
  color: var(--primary-green);
  margin-bottom: 1em;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--standard-padding);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
  background-color: var(--primary-white);
}

.cart-items {
  display: flex;
}

#product-item-cart {
  flex-direction: row;
  width: 42%;
}

#hgroup-cart {
  height: 100%;
  width: 100%;
}

#product-image-box-cart {
  border-bottom: 1px;
  height: 100%;
}

#product-image-box-cart,
#hgroup-description-cart {
  width: 50%;
}

#product-brand-cart {
  font-size: var(--font-size-brand-cart);
}

#product-model-cart {
  font-size: var(--font-size-model-cart);
}

#product-price-cart {
  font-size: var(--font-size-price-cart);
}

.product-size {
  font-size: var(--font-size-size-cart);
  text-transform: capitalize;
}

#product-brand-cart,
#product-model-cart,
.product-size,
#product-price-cart {
  display: flex;
  align-items: center;
  height: 25%;
}


.trash {
  width: 4%;
}


.total-cart {
  font-family: var(--font-secondary), var(--font-fallback);
  font-size: var(--font-size-p-d-price);
  font-style: italic;
  margin-bottom: 4rem;
}


.button-cart {
  background-color: var(--primary-green);
  padding: 2em 4em;
  border-color: var(--primary-green);
}

#button-cart-text {
  font-size: 48px;
  color: var(--primary-white);
}






/* Checkout */



.form-checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#section-container-checkout {
  background-color: var(--primary-white);
}

.form-checkout label {
  margin-bottom: 0.2em;
  font-size: 20px;
}

.form-checkout input, select, label {
  width: 48%;
}

.form-checkout label, select {
  text-transform: capitalize;
}

.form-checkout input, select {
  background-color: var(--primary-gray);
  border: var(--standard-border-style) 2px var(--primary-green);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1em;
  height: 2em;
}

#email {
  width: 100%;
}

.submit-checkout {
  width: 100%;
  background-color: var(--primary-gray);
  border: var(--standard-border-style) 2px var(--primary-green);
  border-radius: var(--standard-border-radius);
  padding: 1em;
  margin-top: 1em;
}

.a-checkout {
  color: var(--primary-green);
  font-size: var(--font-size-button-checkout);
}


#payment-option-done,
#submit-checkout-done {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
}

#a-checkout-done {
  color: var(--primary-white);
}




/* Card details */



#checkout-card-details {
  justify-content: space-between
}



#checkout-card-details label {
  text-transform: uppercase;
}

#checkout-card-details span {
  text-transform: capitalize;
}

#cvv-cvc-label {
  text-transform: uppercase;
}

#card-name,
#card-name-label,
#card-number,
#card-number-label {
  width: 100%;
}

#submit-card-details {
  background-color: var(--primary-green);
}

#a-card-submit {
  color: var(--primary-white);
}




/* Checkout-filled */



#form-checkout-filled input, select {
  background-color: var(--hero-text);
}

#button-checkout-filled {
  background-color: var(--primary-green);
}

#button-checkout-filled,
#a-checkout-filled, a {
  font-size: var(--font-size-button-checkout);
  color: var(--primary-white);
}





/* Successful Purchase */



#h1-s-p {
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
}

.purchase-successful-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.purchase-successful-container > * {
  margin-bottom: 2rem;
}

#s-p-thank-you {
  font-size: 24px;
  font-family: var(--font-secondary), var(--font-fallback);
  text-align: center;
}

#s-p-image {
  max-height: 200px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#s-p-thank-you,
#s-p-image {
  margin-bottom: 2em;
}

.order-summary,
.order-summary-details {
  display: flex;
}

.order-summary {
  justify-content: space-between;
  background-color: var(--primary-gray);
  border: var(--standard-border-style) var(--standard-border-width) var(--primary-black);
  border-radius: var(--standard-border-radius);
}

.order-summary-container {
  width: 60%;
}

.order-summary-container,
#product-item-s-p {
  margin-bottom: 0;
  padding: 1em;
}

.order-summary-details {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#product-item-s-p {
  flex-direction: row;
}

#product-item-s-p,
#product-image-box-s-p {
  border: none;
  border-radius: 0px;
}

#product-image-box-s-p {
  height: auto;
  border-bottom: none;
}
 
#product-s-p-text {
  align-self: flex-start;
  height: 100%;
}

#product-item-s-p,
#product-image-box-s-p,
#product-s-p-text {
  width: 50%;
}

#product-s-p-text > * {
  display: flex;
  align-items: center;
  height: 25%;
}


#s-p-brand {
  font-size: var(--font-size-brand-s-p);
}

#s-p-model {
  font-size: var(--font-size-model-s-p);
}

#s-p-size {
  font-size: var(--font-size-size-s-p);
}

#s-p-price {
  font-size: var(--font-size-price-s-p);
}

#button-s-p {
  width: 100%;
  color: var(--primary-white);
}

#a-s-p {
  font-size: var(--font-size-button-checkout);
}








/* Media Queries */



@media screen and (min-width: 1900px) {


  .hero-image-container,
  .box-home {
    max-height: var(--max-height-home-hero-1900);
  }

}


@media screen and (min-width: 1550px) {

  .hero-image-container,
  .box-home {
    max-height: var(--max-height-home-hero-1550);
  }
  
}




@media screen and (max-width: 1290px) {


  .hero-image-container,
  .box-home {
    max-height: var(--max-height-home-hero-1290);
  }



  /* Successful Purchase */


  #s-p-brand {
    font-size: var(--font-size-brand-s-p-1290);
  }

  #s-p-model {
    font-size: var(--font-size-model-s-p-1290);
  }

  #s-p-size {
    font-size: var(--font-size-size-s-p-1290);
  }

  #s-p-prize {
    font-size: var(--font-size-price-s-p-1290);
  }


}


@media screen and (max-width: 1110px) {


  /* Header/footer */


  .logo {
    width: 140px;
    height: 75px;
  }

  nav > a,
  .footer-content > a {
    font-size: var(--font-size-hfb-1100);
  }




  /* Home */


  .hero-image-container,
  .hero-image-girl,
  .hero-image-guy {
    max-height: var(--max-height-home-hero-1100);
  }

  .h2-home {
    font-size: var(--font-size-h2-home-1100);
  }

  #cta-home-a-guy,
  #cta-home-a-girl {
    font-size: var(--font-size-cta-home-1100);
  }






  .p-d-brand {
    font-size: var(--font-size-brand-s-p);
  }

  .p-d-model {
    font-size: var(--font-size-model-s-p);
  }

  .p-d-description {
    font-size: var(--font-size-s-p-description);
    margin-left: 0;
  }

  #p-d-description-text {
    font-size: var(--font-size-p-d-description-text-small);
    height: 50%;
  }

  .p-d-price {
    font-size: var(--font-size-price-s-p);
  }

  .p-d-availability-text {
    font-size: var(--font-size-p-d-description-text-small);
  }

  #button-p-d {
    padding: 0.3em;
  }

  


  /* Cart */



  #product-brand-cart {
    font-size: var(--font-size-brand-cart-1100);
  }

  #product-model-cart {
    font-size: var(--font-size-model-cart-1100);
  }

  .product-size {
    font-size: var(--font-size-brand-cart-1100);
  }

  #product-price-cart {
    font-size: var(--font-size-price-cart-1100);
  }







}




@media screen and (max-width: 900px) {  
  
  

  /* Header / Footer */
  
  
  .logo {
    width: 120px;
    height: 65px;
  }
    
  
  nav > a,
  .footer-content > a {
    font-size: var(--font-size-hfb-medium);
  }
  
  .searchbar-placeholder {
    font-size: var(--font-size-searchbar-placeholder-medium);
  }

  .shopping-cart-container {
    width: 9%;
  }

  .footer-content > a {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .footer-content {
    height: 80%;
    flex-wrap: wrap;
  }

  .breadcrumbs a {
    font-size: var(--font-size-breadcrumbs-medium);
  }


  /* Homepage */


  

  

  .hero-image-container,
  .box-home {
    max-height: var(--max-height-home-hero-medium);
  }

  .h2-home {
    font-size: var(--font-size-h2-home-small);
  }


  #left-cta-home,
  #right-cta-home {
    grid-area: 3 / 2 / 5 / 7;
  }

  #cta-home-a-guy,
  #cta-home-a-girl {
    font-size: var(--font-size-cta-home-small);
  }

  #left-cta-home,
  #right-cta-home {
    grid-area: 4 / 2 / 5 / 7;
  }


  .product-item {
    width: 48%;
  }

  
  .product-brand {
    font-size: var(--font-size-product-brand-medium);
  }

  .product-model {
    font-size: var(--font-size-product-model-medium);
  }

  .product-price {
    font-size: var(--font-size-product-price-medium);
  }

  .availability-text {
    font-size: var(--font-size-product-availability-medium);
  }
  



  /* Product-description */



  .product-specific > div,
  .product-information-container > hgroup {
    margin-bottom: 2em;
  }

  .product-specific {
    flex-direction: column;
  }

  .product-information-container,
  .product-specific-image-container {
    width: 100%;
  }


  .product-specific-image-container > img {
    padding: 6rem;
  }

  .product-information-container,
  #button-p-d {
    padding: 0.5em;
  }

  .product-specific-description-container {
    gap: 1em;
  }



  .p-d-brand {
    font-size: var(--font-size-brand-s-p);
  }

  .p-d-model {
    font-size: var(--font-size-model-s-p);
  }

  .p-d-description {
    font-size: var(--font-size-s-p-description);
    margin-left: 0;
  }

  #p-d-description-text {
    font-size: var(--font-size-p-d-description-text-small);
    height: 50%;
  }

  .p-d-price {
    font-size: var(--font-size-price-s-p);
  }

  .p-d-availability-text {
    font-size: var(--font-size-p-d-description-text-small);
  }




  /* Cart */



  .section-container {
    padding: 0.5em;
    justify-content: center;
  }

  .cart-items {
    flex-direction: column-reverse;
  }

  .trash {
    width: 7%;
  }


  #product-item-cart {
    flex-direction: column;
  }

  #hgroup-cart,
  #product-item-cart {
    gap: 1em;
    padding: 1em;
  }

  #product-item-cart,
  #product-image-box-cart,
  #hgroup-description-cart,
  .product-price {
    width: 100%;
  }

  #product-brand-cart,
  #product-model-cart,
  .product-size,
  #product-price-cart {
    justify-content: center;
  }

  #product-brand-cart {
    font-size: var(--font-size-brand-cart);
  }

  #product-model-cart {
    font-size: var(--font-size-model-cart);
  }

  .product-size {
    font-size: var(--font-size-brand-cart);
  }

  #product-price-cart {
    font-size: var(--font-size-price-cart);
  }

  .total-cart {
    text-align: center;
  }

  .button-cart {
    padding: 2em;
  }

  #button-cart-text {
    font-size: 24px;
  }




  /* Checkout / Card-details / Checkout-filled */



  .form-checkout {
    width: 100%;
  }

  .form-checkout input, select, label {
    width: 98%;
  }
  

  .name-label,
  #card-name-label {
    order: 1;
  }

  #name,
  #card-name {
    order: 2;
  }

  .lastname-label,
  #card-number-label {
    order: 3;
  }

  #lastname,
  #card-number {
    order: 4;
  }

  .email-label,
  #card-expiry-label {
    order: 5;
  }

  #email,
  #card-expiry {
    order: 6;
  }

  .country-label,
  #cvv-cvc-label {
    order: 7;
  }

  #country,
  #card-cvv-cvc {
    order: 8;
  }

  .city-label {
    order: 9;
  }

  #city {
    order: 10;
  }

  .address-label {
    order: 11;
  }

  #address {
    order: 12;
  }

  .state-or-county-label {
    order: 13;
  }

  #state-or-county {
    order: 14;
  }

  .zipcode-label {
    order: 15;
  }

  #zipcode {
    order: 16;
  }

  .payment-option-label {
    order: 17;
  }

  .payment-option {
    order: 18;
  }

  .submit-checkout {
    order: 19;
  }




  /* Purchase Successful */



  .purchase-successful-container,
  .order-summary-container,
  #product-item-s-p {
    width: 100%;
    padding: 0.2em;
  }

  #product-item-s-p {
    flex-direction: column;
  }

  #product-item-s-p > * {
    width: 100%;
  }

  #product-s-p-text > * {
    justify-content: center;
  }

  .order-summary-details,
  #product-s-p-text {
    gap: 1em;
  }

  .order-summary {
    flex-direction: column-reverse;
  }

  #s-p-thank-you {
    font-size: 18px;
  }

  #s-p-brand {
    font-size: var(--font-size-brand-s-p);
  }

  #s-p-model {
    font-size: var(--font-size-model-s-p);
  }

  #s-p-size {
    font-size: var(--font-size-size-s-p);
  }

  #s-p-prize {
    font-size: var(--font-size-price-s-p);
  }



}



@media screen and (max-width: 440px) {


  /* Header/Footer/Breadcrumbs */  


  header {
    height: var(--header-footer-height-small);
  }


  .logo {
    width: 75px;
    height: 40.42px;
  }

  nav > a,
  .footer-content > a {
    font-size: var(--font-size-hfb-small);
  }

  .searchbar-div {
    display: none;
  }

  .shopping-cart-container {
    width: 15%;
  }

  .breadcrumbs {
    flex-wrap: wrap;
    justify-content: center;
  }

  .breadcrumbs > li {
    margin-bottom: 1em;
  }




  /* Homepage */



  .hero-image-container {
    max-height: var(--max-height-home-hero);
  }

  .box-home {
    max-height: var(--max-height-home-hero);
  }

  .hero-image-container {
    width: 100%;
  }

  .hero-images {
    flex-direction: column;
    gap: 2em;
  }

  .h2-home {
    font-size: var(--font-size-h2-home-small);
  }

  #cta-home-a-guy,
  #cta-home-a-girl {
    font-size: var(--font-size-cta-home-small);
  }

  #left-cta-home,
  #right-cta-home {
    grid-area: 4 / 2 / 5 / 7;
  }


  .product-brand {
    font-size: var(--font-size-product-brand-small);
  }

  .product-model {
    font-size: var(--font-size-product-model-small);
  }

  .product-price {
    font-size: var(--font-size-product-price-small);
  }

  .availability-text {
    font-size: var(--font-size-product-availability-small);
  }





  /* Product-description */



  .product-specific-image-container > img {
    padding: 0.5em;
  }



  /* Cart */



  .trash {
    width: 10%;
  }
  


}








